<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="cleartripTestSuite">
    <listeners>
        <listener class-name="utilities.Reporting"></listener>
    </listeners>
    <test name="cleartripTestInChrome">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="cleartripTestCases.TC_SearchFlights_001"></class>
            <class name="cleartripTestCases.TC_SearchFlights_002"></class>
        </classes>

    </test>

</suite>